In [1]:
# LIBRARIES:

import snscrape.modules.twitter as sntwitter
import pandas as pd
import re
import json

import psycopg2
from psycopg2 import sql

import spacy
nlp = spacy.load('es_core_news_sm')

import warnings
warnings.filterwarnings('ignore')

2022-03-02 15:43:33.623377: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-02 15:43:33.623423: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
# DB PARAMETERS

schema = 'smi_schema'
queries_path = '../build/queries/'

with open('../../../../context/SMI/config/postgres.config') as config_file:
    db_config = json.load(config_file)

# Local database deployment
conn = psycopg2.connect(
                        dbname=db_config['db_name'],
                        user=db_config['db_user'],
                        host='localhost',
                        port=db_config['db_port'],
                        password=db_config['db_password'],
                        options=db_config['db_options']
                        )
conn.autocommit = True
cur = conn.cursor()

In [3]:
## FUNCTIONS:

def fetchall_SQL(self, path):
    """
    Function to fetch all observations from a query to databasee:
    params:
        - path: relative path to the file.
    """
    # Read the SQL query from .sql file:
    with open(path, 'r') as f: 
        query = f.read().format(schema=self.schema)

    # Initialize SQL cursor:
    cur = self.conn.cursor()

    try:

        #Execute query
        cur.execute(query)
        db_fetch = cur.fetchall()
        
        return(db_fetch)

    except (Exception, psycopg2.DatabaseError) as error:
        self.conn.rollback()
        self.api_logger.exception(error)
    cur.close()

def get_stops(stops, path):
    
    with open(path + stops[0]) as f:
        stopw_1 = f.read().splitlines()
    with open(path + stops[1]) as f:
        stopw_2 = f.read().splitlines()

    stopw_1[0] = stopw_1[0].replace('\ufeff', '')
    stopw = stopw_1 + stopw_2
    stopw = [accent_rem(word) for word in stopw]
    return(stopw)

def get_ecofilter(path, files):
    '''
    Function to get the list of words to filter the tweets
    '''
    eco_filter = pd.DataFrame()
    for file in files:
        eco_filter = pd.concat([eco_filter, pd.read_excel(path + file, header=None)], axis=0)
    eco_filter.drop_duplicates(inplace=True)
    eco_filter = eco_filter.iloc[:,0].to_list()
    #eco_filter = [lemmatize(word) for word in eco_filter]
    return [accent_rem(word) for word in eco_filter]

def accent_rem(name):
    '''
    Function to remove accents from an alphanumeric string:
    params:
        - name: character string.
    Output: string without accents.
    '''
    #Define replacements (possible accents or other special char)
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
        ("ñ", 'n'),
        ("à", "a"),
        ("è", "e"),
        ("ì", "i"),
        ("ò", "o"),
        ("ù", "u"),
        ("ä", 'a'),
        ("ë", "e"),
        ("ï", "i"),
        ("ö", "o"),
        ("ü", "u"),
    )
    #Replace with tuple:
    for a, b in replacements:
        name = name.replace(a, b).replace(a.upper(), b.upper())
    return(name)

def tweet_cleaner(tweet, stopw, ecol):
    '''
    Function to treat the text of a tweet.
    params:
        - tweet: the document itself.
    output: the tweet cleaned.
    '''
    # Remove urls (http in advance)
    tweet = re.sub(r'http.*',"", tweet)
    tweet = re.sub(r'pic.twitter\S+', '', tweet)
    # Remove mentions and hastags.
    tweet = re.sub(r'#\S+', '', tweet)
    tweet = re.sub(r'@\S+', '', tweet)
    # Remove spanish vowel accents.
    tweet = ' '.join([accent_rem(word) for word in tweet.split()])
    # Remove special characters.
    tweet = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ", tweet).split())
    # Lower captions.
    tweet = tweet.lower()
    # Remove numbers.
    tweet = ''.join([i for i in tweet if not i.isdigit()])
    # Remove white spaces.
    tweet = re.sub(' +', ' ', tweet)
    # Remove stopwords.
    tweet = ' '.join([word for word in tweet.split() if not word in stopw])
    # Filter words length (< 1 and > 15).
    tweet = ' '.join([word for word in tweet.split() if len(word) > 1 and len(word) <= 15])
    # Filter ecolist.
    commons = [word for word in ecol if word in tweet]
    if len(commons) < 1:
        tweet = ''
    #if len(tweet) > 1:
    #   #Lemmatize:
    #    tweet = ' '.join([tok.lemma_.lower() for tok in nlp(tweet)])
    return tweet

def treat_text(df, text_col, stopw = [], ecol =[], date_col = 'date', sent_col = 'sentiment'):
    '''
    Function to treat text columns:
    params:
        - df: dataframe to treat.
        - text_col: name of the text columns to treat.
        - ecolist
    Output: Dataframe treated.
    '''
    # Sanity checks :
    df = df.fillna('')
    
    # Formatting corpus columns:
    if date_col == 'date':
        print('Text mining job: Format date column.')
        df[date_col] = pd.to_datetime(df[date_col])
    if sent_col == 'sentiment':
        print('Text mining job: Format sentiment column.')
        df[sent_col] = df[sent_col].replace(',','', regex=True)
        df[sent_col] = df[sent_col].apply(lambda r: r.split('AGREEMENT')[0])
        df[sent_col] = df[sent_col].apply(lambda r: r.split('DI')[0])

    #Column text treatment:
    print('Text mining job: Treat text column.')
    df[text_col] = df[text_col].fillna(' ')
    df[text_col] = df[text_col].apply(lambda r: tweet_cleaner(r, stopw, ecol))
    df = df[df[text_col] != '']
    if text_col == 'text':
        df = df[['username', 'date', 'text']]
    df = df.reset_index(drop=True)
    return(df)

def get_tweets(user, date_ini, date_end, stopw, ecolist):
    '''
    Function to get tweets from a user given a period range.
    params:
        - user: twitter user name.
        - date_ini: first day of time window to retrieve tweets.
        - date_end: last date of time window to retrieve tweets.
    '''
    # Tweets list:
    twts_ls = []

    # Twitter scrapper:
    for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + user + ' since:' + date_ini + ' until:' + date_end).get_items()):
        twts_ls.append([tweet.user.username, tweet.date, tweet.content])
        
    # Tweets dataframe: 
    df = pd.DataFrame(twts_ls, columns=['username', 'date', 'text'])
    df = treat_text(df, 'text', stopw, ecolist, date_col = 'date', sent_col = None)
    return df

In [4]:
# FILTERS

path = '../../../../context/SMI/data/utils'
stops = ['/db_stopwords_spanish_1.txt', '/db_stopwords_spanish_2.txt']
stopw = get_stops(stops, path)
ecofile = '/ecofilter.xlsx'
ecofiles = [ecofile]
eco_filter = get_ecofilter(path, ecofiles)

In [ ]:
## Select a user from users

In [6]:
# Prueba para descargar tweets de 1 usuario

user = 'dresponsable'
date_ini = '2012-01-21'
date_end = '2012-01-22'

df_tweets = get_tweets(user, date_ini, date_end, stopw, eco_filter)

Text mining job: Format date column.
Text mining job: Treat text column.

In [8]:
df_tweets

,username,date,text
0,dresponsable,2012-01-21 23:43:12+00:00,mola gt gt emprendedores sociales mundo estare...
1,dresponsable,2012-01-21 20:41:26+00:00,os habeis llama publi
2,dresponsable,2012-01-21 20:13:28+00:00,facilon rosa corazon opacidad intereses oculto...
3,dresponsable,2012-01-21 19:28:31+00:00,os gusta bolso tomate regalado chica

In [12]:
tuple(df_tweets[['date', 'text']].iloc[1,:])

(Timestamp('2012-01-21 20:41:26+0000', tz='UTC'), 'os habeis llama publi')

In [40]:
# From a tweets backup file, get all the unique dates from each user, in order to avoid to scrap these dates again.

df_prueba_agg = df_prueba[['username', 'date']].drop_duplicates().groupby(['username'], as_index=False).agg({'date': ', '.join})

# Insert these dates for each users into DB (smi_date_tweets)

for i in range(df_prueba_agg.shape[0]):
    insert_new_users_into_db(tuple(df_prueba_agg.iloc[i, :]))

##
## insert into smi_schema.smi_date_tweets (username, date_tweets)
## values ('manu', '1995, 1996')
## on conflict (username) do update set date_tweets = smi_date_tweets.date_tweets || ', ' || excluded.date_tweets;

In [46]:
df_prueba_agg.head(5)

      username        date
0    005anibal  2015-10-22
1  007DoctorNo  2015-10-22
2      007Nela  2015-10-22
3    007martin  2015-10-22
4   00Be_Happy  2015-10-22

In [45]:
df_prueba_agg[df_prueba_agg['username'] == 'EqOVER']['date'].tolist()

['2015-10-22, 2015-10-23']

In [18]:
df_prueba_t = treat_text(df_prueba, stopw, eco_filter)

In [19]:
df_prueba_t

,username,date,text
0,COMBarcelona,2015-10-22 14:00:00,setmana parlarem economia social amb
1,COMBarcelona,2015-10-22 09:10:00,forum inversio healthcare social empreses
2,EqOVER,2015-10-23 00:56:00,buscar maneras mostrar vision mision empresa m...
3,Xaviicastro_,2015-10-22 22:34:00,manda orgullo reina desgracia
4,Xaviicastro_,2015-10-22 22:20:00,mercedes cambiate pareces abestruz
...,...,...,...
86470,OnasisZarate,2015-10-23 01:45:00,encuentro reunion dirigentes prd
86471,OnasisZarate,2015-10-23 00:28:00,quiero felicitar amiga nombramiento presidenta...
86472,OnasisZarate,2015-10-22 15:56:00,amiga felicidades tu cumpleanos gracias tu ami...
86473,OnasisZarate,2015-10-22 04:44:00,lideres izquierda
86474,OnasisZarate,2015-10-22 04:29:00,encuentro reunion mis amigos asociacion chuecos

In [66]:
def dates_range(date_ini):
    '''
    Function to get all dates between a initial date and today.
    params:
        - date_ini: initial date of the range.
    output: string with all dates within the study interval (initial date and today).
    '''
    date_end = pd.to_datetime("today")
    return [str(date.date()) for date in pd.date_range(date_ini, date_end, freq='D')]

In [103]:
#Generate dates range from init date to now:
dates = dates_range('2012-01-01')

#From a given user, get all the tweets posting dates on the DB:
user_to_add_dates = 'EqOVER'
dates_with_tweets = df_prueba_agg[df_prueba_agg['username'] == user_to_add_dates]['date'].values[0].split(', ')

#Dates to scrap from user:
dates_to_scrap = list(set(dates) - set(dates_with_tweets))

#Scrap tweets;

#Persist scrapped dates on DB:

In [106]:
dates_to_scrap

['2013-01-16',
 '2012-08-17',
 '2015-02-01',
 '2014-07-04',
 '2021-02-16',
 '2018-02-19',
 '2016-12-27',
 '2019-11-30',
 '2016-09-09',
 '2018-09-06',
 '2015-05-03',
 '2016-02-04',
 '2017-08-29',
 '2021-07-14',
 '2014-03-25',
 '2016-06-28',
 '2016-04-23',
 '2017-11-25',
 '2016-02-21',
 '2021-01-01',
 '2016-08-24',
 '2013-02-07',
 '2016-09-13',
 '2018-06-22',
 '2013-02-20',
 '2018-01-20',
 '2014-08-02',
 '2018-04-29',
 '2019-06-22',
 '2018-04-12',
 '2014-07-20',
 '2017-03-26',
 '2019-01-03',
 '2016-06-14',
 '2012-08-01',
 '2014-08-29',
 '2017-11-27',
 '2019-10-31',
 '2019-09-07',
 '2017-05-13',
 '2019-09-12',
 '2020-10-09',
 '2018-04-25',
 '2016-10-21',
 '2016-01-28',
 '2016-08-04',
 '2014-02-25',
 '2014-11-09',
 '2013-10-18',
 '2013-08-16',
 '2015-10-08',
 '2015-12-24',
 '2014-11-21',
 '2012-06-12',
 '2014-02-14',
 '2013-02-01',
 '2020-03-18',
 '2022-02-22',
 '2012-03-26',
 '2014-03-13',
 '2016-05-17',
 '2018-10-05',
 '2021-02-13',
 '2016-01-19',
 '2019-07-28',
 '2020-06-08',
 '2019-09-13',
 '2013-10-26',
 '2016-07-31',
 '2021-03-02',
 '2020-09-09',
 '2012-06-11',
 '2020-12-07',
 '2017-10-15',
 '2012-07-18',
 '2017-07-02',
 '2018-12-23',
 '2020-10-10',
 '2015-04-22',
 '2015-01-03',
 '2012-08-13',
 '2014-06-07',
 '2014-10-28',
 '2014-12-12',
 '2016-04-28',
 '2017-07-12',
 '2020-10-11',
 '2012-06-16',
 '2020-01-27',
 '2013-12-28',
 '2020-12-06',
 '2015-01-05',
 '2017-10-31',
 '2015-07-23',
 '2016-08-01',
 '2013-12-27',
 '2015-04-03',
 '2012-01-20',
 '2021-02-19',
 '2018-07-15',
 '2015-05-23',
 '2017-08-27',
 '2019-02-03',
 '2015-05-11',
 '2021-09-05',
 '2013-05-05',
 '2012-08-20',
 '2014-04-23',
 '2017-03-05',
 '2018-01-07',
 '2017-04-10',
 '2014-10-18',
 '2018-04-02',
 '2021-01-10',
 '2020-11-04',
 '2015-02-06',
 '2014-10-30',
 '2021-01-27',
 '2013-07-26',
 '2012-06-01',
 '2015-04-02',
 '2020-09-16',
 '2016-01-09',
 '2012-03-25',
 '2012-08-27',
 '2017-03-04',
 '2014-01-24',
 '2020-01-16',
 '2019-05-04',
 '2013-07-24',
 '2014-10-03',
 '2020-08-16',
 '2013-03-18',
 '2021-10-06',
 '2014-04-21',
 '2015-10-07',
 '2020-07-05',
 '2016-07-16',
 '2018-06-19',
 '2020-12-24',
 '2015-09-18',
 '2014-09-24',
 '2016-02-06',
 '2014-07-12',
 '2015-02-14',
 '2012-08-16',
 '2013-10-19',
 '2020-08-08',
 '2018-10-15',
 '2020-08-03',
 '2018-04-17',
 '2016-01-08',
 '2020-04-24',
 '2014-01-02',
 '2016-09-17',
 '2018-11-10',
 '2012-05-24',
 '2015-05-16',
 '2015-05-27',
 '2019-04-28',
 '2019-06-16',
 '2012-12-09',
 '2019-01-15',
 '2017-06-08',
 '2021-03-03',
 '2013-08-28',
 '2012-02-18',
 '2012-02-05',
 '2012-06-08',
 '2014-03-07',
 '2015-01-11',
 '2020-06-24',
 '2013-12-15',
 '2021-04-22',
 '2020-09-17',
 '2014-03-02',
 '2019-06-08',
 '2014-12-02',
 '2012-05-15',
 '2013-02-24',
 '2018-10-09',
 '2015-10-17',
 '2016-09-06',
 '2012-02-26',
 '2012-03-19',
 '2015-03-30',
 '2014-05-11',
 '2014-11-02',
 '2019-08-21',
 '2016-04-05',
 '2014-02-21',
 '2019-11-07',
 '2021-11-21',
 '2018-12-24',
 '2018-09-25',
 '2015-02-27',
 '2020-06-01',
 '2020-01-09',
 '2021-07-03',
 '2017-10-11',
 '2012-06-18',
 '2015-08-24',
 '2017-06-11',
 '2012-01-03',
 '2022-02-19',
 '2019-06-07',
 '2015-08-11',
 '2019-01-21',
 '2015-02-28',
 '2021-06-23',
 '2016-03-05',
 '2014-06-10',
 '2016-05-16',
 '2021-08-12',
 '2013-11-08',
 '2018-04-09',
 '2013-05-29',
 '2015-06-28',
 '2020-11-07',
 '2013-04-02',
 '2012-04-19',
 '2013-10-07',
 '2021-09-24',
 '2014-03-15',
 '2013-09-18',
 '2018-11-15',
 '2019-01-14',
 '2017-05-27',
 '2017-02-14',
 '2014-07-19',
 '2017-11-22',
 '2021-10-17',
 '2013-05-08',
 '2017-03-11',
 '2014-02-26',
 '2018-07-30',
 '2014-03-08',
 '2018-12-12',
 '2012-08-12',
 '2021-02-03',
 '2021-08-27',
 '2017-05-29',
 '2018-06-21',
 '2018-08-14',
 '2016-08-27',
 '2021-01-04',
 '2012-11-24',
 '2014-06-02',
 '2012-04-18',
 '2015-09-09',
 '2016-01-21',
 '2012-03-04',
 '2022-02-09',
 '2019-05-16',
 '2012-07-27',
 '2020-07-22',
 '2014-05-07',
 '2012-08-10',
 '2016-05-02',
 '2013-07-20',
 '2014-09-05',
 '2014-01-23',
 '2017-03-12',
 '2021-07-05',
 '2021-12-05',
 '2017-02-08',
 '2021-08-28',
 '2015-10-12',
 '2013-08-24',
 '2014-10-29',
 '2014-06-04',
 '2014-09-30',
 '2021-06-25',
 '2016-07-12',
 '2013-08-02',
 '2012-01-25',
 '2015-05-21',
 '2015-08-06',
 '2020-06-22',
 '2018-05-14',
 '2021-11-23',
 '2013-11-14',
 '2014-02-04',
 '2016-02-23',
 '2013-03-01',
 '2013-09-09',
 '2018-01-19',
 '2018-04-18',
 '2022-01-24',
 '2015-07-11',
 '2015-04-30',
 '2018-06-06',
 '2014-01-30',
 '2021-08-17',
 '2020-05-26',
 '2012-04-03',
 '2012-05-30',
 '2013-01-07',
 '2013-03-24',
 '2016-10-16',
 '2017-04-06',
 '2016-08-02',
 '2019-08-06',
 '2017-08-03',
 '2019-10-28',
 '2020-11-29',
 '2016-04-25',
 '2020-01-23',
 '2021-06-24',
 '2020-05-22',
 '2020-04-01',
 '2019-02-15',
 '2015-07-27',
 '2019-12-24',
 '2013-04-19',
 '2017-01-19',
 '2013-04-16',
 '2017-07-26',
 '2021-10-20',
 '2014-04-04',
 '2012-10-19',
 '2015-11-21',
 '2018-07-07',
 '2016-10-31',
 '2019-08-08',
 '2018-11-11',
 '2019-02-20',
 '2015-01-25',
 '2019-10-09',
 '2012-12-02',
 '2013-06-04',
 '2017-08-02',
 '2012-05-07',
 '2019-09-26',
 '2020-12-20',
 '2014-08-08',
 '2017-02-18',
 '2017-04-08',
 '2019-01-01',
 '2017-05-24',
 '2014-09-03',
 '2012-06-29',
 '2014-10-12',
 '2020-09-19',
 '2017-03-31',
 '2012-04-04',
 '2018-09-24',
 '2021-10-15',
 '2012-01-23',
 '2014-05-04',
 '2021-09-26',
 '2016-09-26',
 '2017-03-14',
 '2021-01-26',
 '2021-08-05',
 '2018-11-03',
 '2016-06-12',
 '2016-06-01',
 '2016-08-30',
 '2018-08-15',
 '2016-01-11',
 '2014-06-30',
 '2017-03-08',
 '2012-01-24',
 '2016-05-12',
 '2016-05-22',
 '2014-12-05',
 '2019-06-29',
 '2020-05-01',
 '2020-10-04',
 '2019-06-01',
 '2018-07-24',
 '2017-12-20',
 '2021-07-30',
 '2020-12-11',
 '2020-02-03',
 '2019-07-25',
 '2018-07-04',
 '2020-03-06',
 '2014-01-22',
 '2014-07-16',
 '2018-06-03',
 '2018-04-27',
 '2015-03-11',
 '2019-01-16',
 '2012-12-21',
 '2021-12-22',
 '2020-05-16',
 '2012-09-21',
 '2014-01-14',
 '2012-01-17',
 '2013-04-06',
 '2012-04-23',
 '2018-03-26',
 '2017-06-15',
 '2014-12-14',
 '2022-01-15',
 '2016-03-04',
 '2019-03-17',
 '2018-02-09',
 '2017-05-07',
 '2020-03-09',
 '2021-05-28',
 '2020-05-20',
 '2013-06-16',
 '2019-05-13',
 '2019-06-28',
 '2019-10-17',
 '2018-07-18',
 '2021-08-25',
 '2017-08-23',
 '2019-05-12',
 '2018-08-18',
 '2013-02-13',
 '2015-02-25',
 '2013-06-18',
 '2020-03-21',
 '2019-12-03',
 '2013-07-17',
 '2014-08-11',
 '2020-09-29',
 '2021-07-17',
 '2021-09-08',
 '2020-08-24',
 '2018-12-27',
 '2020-04-29',
 '2015-11-18',
 '2018-05-27',
 '2013-12-30',
 '2015-11-20',
 '2017-01-22',
 '2019-03-12',
 '2012-12-16',
 '2022-01-11',
 '2015-12-09',
 '2019-05-29',
 '2015-12-28',
 '2015-04-19',
 '2017-09-23',
 '2017-07-18',
 '2014-02-17',
 '2020-03-11',
 '2015-04-24',
 '2015-05-08',
 '2015-02-02',
 '2018-02-24',
 '2018-11-25',
 '2016-05-14',
 '2012-04-21',
 '2012-10-22',
 '2020-01-07',
 '2021-04-13',
 '2021-01-11',
 '2012-05-16',
 '2019-12-10',
 '2016-01-03',
 '2016-03-22',
 '2019-02-13',
 '2021-07-24',
 '2018-09-16',
 '2013-02-09',
 '2020-03-22',
 '2021-10-03',
 '2012-01-13',
 '2015-01-22',
 '2016-12-06',
 '2012-11-08',
 '2019-08-27',
 '2021-03-26',
 '2012-10-30',
 '2016-10-27',
 '2020-04-06',
 '2012-05-26',
 '2019-03-29',
 '2016-11-12',
 '2015-04-06',
 '2015-11-10',
 '2016-07-26',
 '2013-04-23',
 '2013-10-21',
 '2015-02-08',
 '2020-04-02',
 '2017-06-26',
 '2019-07-29',
 '2021-11-26',
 '2021-08-20',
 '2020-03-07',
 '2020-06-29',
 '2021-03-18',
 '2013-07-19',
 '2020-08-31',
 '2012-08-22',
 '2012-09-02',
 '2015-06-11',
 '2021-09-02',
 '2014-10-21',
 '2020-09-21',
 '2015-09-22',
 '2017-03-16',
 '2018-04-15',
 '2021-02-01',
 '2018-04-22',
 '2016-07-18',
 '2017-01-26',
 '2012-10-15',
 '2018-10-06',
 '2016-07-15',
 '2014-10-09',
 '2017-11-15',
 '2015-04-07',
 '2014-05-05',
 '2017-10-07',
 '2014-01-29',
 '2014-10-05',
 '2013-10-22',
 '2015-12-23',
 '2016-12-30',
 '2021-01-17',
 '2017-07-10',
 '2013-09-28',
 '2019-03-22',
 '2012-11-12',
 '2012-12-15',
 '2019-02-14',
 '2015-04-25',
 '2019-07-04',
 '2021-07-18',
 '2013-07-04',
 '2020-04-22',
 '2019-12-02',
 '2014-08-16',
 '2013-04-27',
 '2021-04-15',
 '2018-03-22',
 '2020-10-22',
 '2015-01-10',
 '2015-01-16',
 '2021-05-18',
 '2013-01-18',
 '2021-03-24',
 '2015-06-13',
 '2014-10-07',
 '2013-05-22',
 '2015-07-20',
 '2016-04-04',
 '2016-11-25',
 '2021-11-18',
 '2013-07-21',
 '2015-06-05',
 '2019-02-07',
 '2016-05-26',
 '2018-05-12',
 '2012-03-03',
 '2012-11-01',
 '2013-02-12',
 '2013-11-11',
 '2018-09-17',
 '2019-01-23',
 '2012-09-26',
 '2020-04-03',
 '2012-05-29',
 '2015-03-20',
 '2017-05-26',
 '2016-08-10',
 '2017-01-27',
 '2014-10-01',
 '2020-11-18',
 '2021-03-09',
 '2016-05-07',
 '2013-11-24',
 '2020-05-10',
 '2021-01-13',
 '2020-06-20',
 '2016-05-04',
 '2017-09-27',
 '2018-09-19',
 '2015-05-15',
 '2015-01-06',
 '2016-04-13',
 '2017-06-13',
 '2017-05-03',
 '2020-09-06',
 '2019-09-03',
 '2014-02-11',
 '2021-07-01',
 '2012-02-09',
 '2016-01-05',
 '2017-12-10',
 '2018-05-25',
 '2014-10-20',
 '2012-08-02',
 '2016-03-13',
 '2017-11-24',
 '2014-06-26',
 '2012-10-05',
 '2013-12-17',
 '2015-01-21',
 '2012-02-16',
 '2015-09-01',
 '2019-01-20',
 '2017-02-09',
 '2020-12-30',
 '2012-12-10',
 '2017-03-23',
 '2014-09-02',
 '2019-01-22',
 '2012-07-01',
 '2014-05-27',
 '2013-08-23',
 '2018-12-22',
 '2021-11-19',
 '2020-03-10',
 '2012-10-17',
 '2022-02-13',
 '2014-08-18',
 '2012-05-23',
 '2018-02-02',
 '2015-09-13',
 '2016-10-10',
 '2020-09-23',
 '2014-11-15',
 '2016-06-06',
 '2013-06-26',
 '2016-10-11',
 '2014-03-31',
 '2022-01-03',
 '2015-03-04',
 '2016-02-13',
 '2016-09-03',
 '2012-04-27',
 '2014-09-01',
 '2018-11-28',
 '2020-07-17',
 '2021-03-19',
 '2013-07-30',
 '2019-04-08',
 '2020-06-27',
 '2014-04-26',
 '2019-01-11',
 '2019-11-25',
 '2019-07-26',
 '2017-08-19',
 '2016-07-28',
 '2012-08-06',
 '2016-07-05',
 '2018-05-23',
 '2022-01-26',
 '2013-10-16',
 '2013-02-16',
 '2019-02-11',
 '2021-11-16',
 '2016-07-03',
 '2013-11-15',
 '2014-04-12',
 '2015-07-22',
 '2019-06-27',
 '2014-05-25',
 '2014-05-31',
 '2020-01-28',
 '2017-08-06',
 '2012-01-21',
 '2016-09-14',
 '2020-11-01',
 '2021-07-29',
 '2014-11-06',
 '2014-06-14',
 '2020-11-16',
 '2020-11-02',
 '2015-08-27',
 '2015-04-01',
 '2013-02-11',
 '2015-10-27',
 '2016-08-28',
 '2013-06-05',
 '2013-10-02',
 '2017-08-21',
 '2017-12-15',
 '2018-11-04',
 '2021-09-21',
 '2021-11-07',
 '2013-02-28',
 '2015-10-09',
 '2012-10-10',
 '2012-10-12',
 '2012-07-23',
 '2012-06-22',
 '2021-12-20',
 '2014-05-16',
 '2017-01-17',
 '2018-06-26',
 '2013-12-10',
 '2012-07-29',
 '2019-02-18',
 '2014-06-09',
 '2020-08-20',
 '2017-04-21',
 '2018-09-07',
 '2016-04-19',
 '2022-02-25',
 '2014-06-22',
 '2017-06-25',
 '2013-08-12',
 '2015-05-30',
 '2020-10-18',
 '2019-01-05',
 '2018-05-01',
 '2021-02-23',
 '2020-03-24',
 '2014-06-03',
 '2020-09-12',
 '2021-06-19',
 '2020-07-25',
 '2016-05-31',
 '2016-06-27',
 '2021-10-26',
 '2015-09-26',
 '2013-10-05',
 '2013-09-08',
 '2020-05-15',
 '2014-06-29',
 '2019-08-12',
 '2018-11-24',
 '2018-09-23',
 '2016-07-06',
 '2016-02-01',
 '2014-04-01',
 '2018-04-13',
 '2018-06-02',
 '2020-08-23',
 '2015-10-10',
 '2018-07-09',
 '2013-08-22',
 '2019-05-10',
 '2012-05-25',
 '2012-05-20',
 '2014-01-19',
 '2015-06-23',
 '2017-11-26',
 '2015-09-16',
 '2020-10-06',
 '2014-05-26',
 '2013-11-03',
 '2013-12-14',
 '2013-06-28',
 '2020-05-23',
 '2017-12-19',
 '2012-01-26',
 '2018-03-28',
 '2017-01-23',
 '2017-01-13',
 '2012-07-05',
 '2012-12-22',
 '2020-11-08',
 '2021-06-18',
 '2014-11-08',
 '2016-12-05',
 '2015-08-08',
 '2012-09-29',
 '2012-11-27',
 '2013-10-11',
 '2019-03-15',
 '2015-11-03',
 '2013-11-21',
 '2019-05-30',
 '2021-01-31',
 '2014-12-11',
 '2020-06-05',
 '2014-02-07',
 '2019-03-08',
 '2018-03-30',
 '2015-12-10',
 '2013-09-14',
 '2019-08-10',
 '2021-09-27',
 '2014-01-26',
 '2013-08-21',
 '2012-03-22',
 '2020-08-14',
 '2022-02-26',
 '2020-04-30',
 '2021-10-07',
 '2016-05-25',
 '2012-08-09',
 '2015-11-17',
 '2020-06-15',
 '2015-08-09',
 '2020-10-28',
 '2012-01-29',
 '2014-02-13',
 '2021-12-26',
 '2016-10-23',
 '2019-11-27',
 '2014-07-02',
 '2020-08-12',
 '2021-08-31',
 '2019-07-11',
 '2016-03-17',
 '2016-04-29',
 '2014-08-23',
 '2017-03-24',
 '2016-01-10',
 '2015-04-16',
 '2019-10-13',
 '2022-01-04',
 '2019-07-30',
 '2020-10-29',
 '2016-09-30',
 '2017-12-30',
 '2018-04-07',
 '2018-09-14',
 '2018-11-14',
 '2016-03-18',
 '2013-03-31',
 '2016-07-11',
 '2013-07-01',
 '2018-12-21',
 '2021-10-04',
 '2013-03-19',
 '2017-12-21',
 '2014-10-04',
 '2017-11-18',
 '2015-01-09',
 '2015-06-06',
 '2016-02-22',
 '2014-08-28',
 '2016-05-23',
 '2020-03-04',
 '2022-02-18',
 '2013-01-13',
 '2013-03-06',
 '2019-05-24',
 '2014-02-05',
 '2012-11-20',
 '2016-12-12',
 '2015-06-27',
 '2015-10-29',
 '2015-03-27',
 '2017-06-19',
 '2015-08-19',
 '2013-10-29',
 '2019-04-03',
 '2020-02-01',
 '2016-10-06',
 '2021-09-28',
 '2013-04-25',
 '2012-04-22',
 '2017-01-03',
 '2021-07-27',
 '2015-10-28',
 '2017-06-14',
 '2015-11-08',
 '2019-03-23',
 '2020-08-18',
 '2015-05-05',
 '2016-05-15',
 '2016-03-31',
 '2018-01-29',
 '2018-03-25',
 '2018-10-19',
 '2017-12-24',
 '2013-03-13',
 '2013-05-20',
 '2013-10-13',
 '2017-04-27',
 '2021-04-11',
 '2015-03-26',
 '2019-09-10',
 '2013-05-30',
 '2020-04-25',
 '2016-07-20',
 '2021-07-02',
 '2013-09-19',
 '2012-03-12',
 '2012-06-13',
 '2018-12-08',
 '2017-12-11',
 '2020-03-29',
 '2021-02-21',
 '2019-05-02',
 '2021-08-26',
 '2020-04-26',
 '2013-05-07',
 '2014-08-30',
 '2017-03-29',
 '2012-10-27',
 '2012-09-14',
 '2014-07-18',
 '2014-08-06',
 '2019-11-18',
 '2018-06-17',
 '2014-07-25',
 '2018-05-06',
 '2020-11-30',
 '2019-06-26',
 '2020-01-26',
 '2018-07-08',
 '2012-07-04',
 '2018-12-30',
 '2021-02-27',
 '2015-04-27',
 '2017-01-06',
 '2013-06-11',
 '2015-02-20',
 '2015-06-02',
 '2020-01-11',
 '2020-08-19',
 '2018-07-02',
 '2019-04-16',
 '2015-09-12',
 '2017-01-07',
 '2012-06-26',
 '2021-03-30',
 '2018-02-14',
 '2020-10-05',
 '2020-07-07',
 '2013-04-11',
 '2014-01-31',
 '2018-04-28',
 '2012-01-19',
 '2021-04-21',
 '2014-10-16',
 '2016-03-29',
 '2018-11-08',
 '2012-09-24',
 '2012-12-23',
 '2019-05-28',
 '2016-07-24',
 '2018-09-27',
 '2016-07-13',
 '2018-03-27',
 '2021-01-21',
 '2015-05-24',
 '2020-09-28',
 '2014-01-18',
 '2021-02-08',
 '2020-07-03',
 '2014-03-11',
 '2021-01-22',
 '2012-09-13',
 '2016-04-18',
 '2016-08-09',
 '2015-07-17',
 '2017-03-06',
 '2013-01-20',
 '2013-09-17',
 '2018-01-01',
 '2018-08-12',
 '2018-11-20',
 '2020-12-01',
 '2020-10-08',
 '2014-08-12',
 '2019-08-19',
 '2018-12-16',
 '2016-12-25',
 '2019-12-30',
 '2021-04-20',
 '2014-05-22',
 '2013-11-19',
 '2019-08-13',
 '2020-07-02',
 '2012-08-11',
 '2019-10-22',
 '2019-09-29',
 '2020-11-10',
 '2012-11-21',
 '2019-07-07',
 '2018-06-23',
 '2021-02-24',
 '2012-05-05',
 '2014-04-13',
 '2016-11-02',
 '2018-09-03',
 '2015-10-31',
 '2021-05-02',
 '2018-10-25',
 '2016-11-04',
 '2013-08-27',
 '2013-08-06',
 '2015-11-05',
 '2020-09-11',
 '2021-10-14',
 '2015-06-01',
 '2017-09-10',
 '2017-11-20',
 '2018-08-31',
 '2019-10-10',
 '2014-09-17',
 '2021-02-09',
 '2016-11-16',
 '2015-09-28',
 '2016-04-06',
 '2020-05-30',
 '2012-02-07',
 '2012-02-20',
 '2019-08-07',
 '2020-02-08',
 '2012-12-24',
 '2012-07-10',
 '2021-04-30',
 '2014-05-10',
 ...]

In [104]:
date_tweets_row = tuple(,)

NameError: name 'date_tweets_row' is not defined

In [98]:
with open(queries_path + 'SMI_insert_date_tweets.sql') as f:
    cur.execute(
        sql.SQL(f.read()).format(schema=sql.Identifier(schema)),
        date_tweets_row
    )

['2015-10-22', '2015-10-23']